{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-typescript-prettier"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "semi": true,
        "trailingComma": "none",
        "endOfLine": "lf",
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 120,
        "useTabs": false
      }
    ],
    "no-param-reassign": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unescaped-entities": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "prefer-promise-reject-errors": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "no-console": "warn",
    "import/no-extraneous-dependencies": "off"
  }
}
