@import './assets/styles/main.css';

.modal-loading .ant-modal-content {
    background: none;
    box-shadow: none;
}

.main-add {
    flex: 0.2
}

.main-lists {
    flex: 0.6
}

.main-users {
    flex: 0.2
}

.chat-panel {
    height: 35rem;
    max-height: 35rem;
}

.square {
    margin-right: -2px;
    margin-top: -2px;
}

.isX {
    color: blue;
}
.isO {
    color: red;
}