@import './assets/styles/main.css';

.modal-loading .ant-modal-content {
    background: none;
    box-shadow: none;
}

.main-add {
    flex: 0.2
}

.main-lists {
    flex: 0.6
}

.main-users {
    flex: 0.2
}