@import './assets/styles/main.css';

.modal-loading .ant-modal-content {
    background: none;
    box-shadow: none;
}

.main-add {
    flex: 0.1
}

.main-lists {
    flex: 0.8
}

.main-users {
    flex: 0.1
}

.chat-panel {
    height: 40rem;
    max-height: 45rem;
}
.history-panel {
    height: 30rem;
    max-height: 30rem;
}

.square {
    outline: none;
    margin-right: -2px;
    margin-top: -2px;
}

.isX {
    color: blue;
}
.isO {
    color: red;
}

.winning {
    background-color: yellow;
}

.custom-search > span > span > .ant-input-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.custom-search>span>span>.ant-btn-loading > span {
    display: flex;
    align-items: center;
    justify-content: center;

}